@page
@model NumbersRoundModel
@{
    ViewData["Title"] = "Numbers Round";
}
<h1 class="row justify-content-center display-4">Numbers Round</h1>
<form asp-route="numbers-solve" id="number-data-form" method="post">
    <div class="row justify-content-center">
        <input asp-for="@Model.Target" id="target-input" hidden />
        <h1 id="target-text" style="font-weight: bold">@Model.Target</h1>
    </div>
    <div class="row justify-content-center p-1">
        <button type="button" class="btn btn-primary" onclick="onClickNewTarget()">New Target</button>
    </div>
    <div class="row justify-content-center">
        @for (int i = 0; i < Model.DefaultNumListSize; i++)
        {
            <div class="col-sm-2 p-1 px-2 w-75">
                @{
                    if (i < Model.ChosenNums.Count)
                    {
                        <input asp-for="@Model.ChosenNums[i]" class="num-input form-control form-inline" required />
                    }
                    else
                    {
                        <input type="number" name="chosenNums" class="num-input form-control form-inline" required />
                    }
                }
            </div>
        }
    </div>
    <div class="row justify-content-center p-1">
        <button type="button" class="btn btn-primary" onclick="onClickGenerateNumbers()">Random Numbers</button>
    </div>
    <div class="row justify-content-center p-1">
        <input type="submit" id="solve-button" class="btn btn-primary" value="Solve" />
    </div>
    <div class="row justify-content-center">
        <div id="spinner-solving" class="spinner-border spinner-border-sm text-primary" role="status" hidden >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="solutions" hidden>
        <h3>Solutions</h3>
        <div id="solution-list"></div>
    </div>
</form>
@using Newtonsoft.Json
<span id="num-data" data-large-nums="@JsonConvert.SerializeObject(Model.AvailableLarge)" data-small-nums="@JsonConvert.SerializeObject(Model.AvailableSmall)" hidden></span>
<script src="~/js/numbersround.js" asp-append-version="true"></script>